
body {
    background: url("../images/ancientArchBG.jpg") no-repeat center center fixed;
    background-size: cover;
}

.container {
    padding: 0;
}

/* Navbar
=================================================================== */
.my-navbar {
    background: #252525ea!important;
    text-align: center;
}

.nav {
    flex-wrap: nowrap;
}

.nav a {
    color: #ebebeb;
    transition: all 0.25s;
    padding: 0.5em;
}

.nav a:hover {
    color: #818181;
}

#display-name {
    color: #ebebeb;
    float: left;
}

/* Header
=================================================================== */
.jumbotron {
    outline: 1px dashed #98abb9;
    outline-offset: -5px;
    
    font-family: 'Cinzel', serif;
    font-variant: small-caps;
    background: rgb(34, 34, 34);
    color: #ebebeb;
    width: 400px;
    margin: auto;
    
    /*shadow*/
    -webkit-box-shadow: 2px 2px 10px 2px #000;
    -moz-box-shadow: 2px 2px 10px 2px #000;
    box-shadow: 2px 2px 10px 2px #000;
}

/* Current Schedule / Add Train
=================================================================== */
tr,
form {
    background: #252525ea;
    color: white;
}

th {
    font-family: 'Saira', sans-serif;
    border-bottom: none !important;
    border-top: none !important;
    letter-spacing: 1.5px;
    vertical-align: middle !important;
}

tbody {
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}

td {
    border-top: none !important;
}

.table-head {
    background: #252525d2;
    color: white;
    letter-spacing: 1.5px;
    font-family: 'Cinzel', serif;
    font-variant: small-caps;    
}

.my-thead {
    background: #000 !important;
    outline: 1px dashed #98abb9;
    outline-offset: -5px;
    
    -webkit-box-shadow: 2px 2px 10px 2px #000;
    -moz-box-shadow: 2px 2px 10px 2px #000;
    box-shadow: 0px 2px 2px #000;
}

#removeBtn {
    transition: all 0.25s;
}

#removeBtn:hover {
    cursor: pointer;
    transform: scale(1.25);
    color: #919191
}

.my-label {
    font-family: 'Saira', sans-serif;
    background: rgb(34, 34, 34);   
    border: 1px solid #454d55;
}

/* Media Queries
=================================================================== */  
@media (max-width: 768px) {
    .container {
        max-width: 740px;
    }
}

@media (max-width: 676px) {
    .container {
        font-size: 80%;
    }
}

@media only screen and (max-width: 576px) {

    .container {
        width: 100% !important;
    }
     
    .jumbotron {
        width: 100%;
    }

    .schedule {
        font-size: 60%;
    }

    .table th,
    .table td {
        padding: 0.4rem;
    }

    label {
        font-size: 80%;
    }

    .form-control {
        font-size: 80%;
    }

    .text-center button {
        font-size: 80%;
    }
}

@media only screen and (max-width: 358px) {
    .container {
        font-size: 70%;
    }

    .table th,
    .table td {
        padding: 0.3rem;
    }

    h1 {
        font-size: 2rem
    }

    h3 {
        font-size: 1.75rem;
    }

    .nav a {
        font-size: 0.8em;
    }
}
